.one{
    text-transform: uppercase;

    font-style: normal;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    text-align: center;

    margin-top:0.5cm;

    margin-bottom:0.5cm;

    background-color: brown;

    padding-top:0.5cm;

    height: 1cm;

}

.two{

    text-transform: uppercase;

    font-style: normal;

    font-size: large;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    text-align:left;

    margin-top:0.5cm;

    margin-bottom:0.5cm;

   

    padding-top:0.5cm;

   

}

[title=one]::first-letter

{

    font-size:x-large;

}

.body{

    background-color:white;

}


/* .carousel-inner img {

width: 600px;

height: 280px;

} */

nav a:hover{


background-color: brown;

color: white;

}

a{

color: black;

}

